# intermediate files
*.sdf
*.suo
*.opensdf
*.user
*.o
*.obj
*.zip

/Output.64/Debug/
/Output.64/Release/working/*
/Output.64/Release/*.*

/Output.86/Debug/
/Output.86/Release/working/*
/Output.86/Release/*.*

/B1DBCompare Versions/*
/.vs/*
/.vs/B1DBCompare/v15/*
*.tlog
*.log
*.pdb
*.cache
/ResultCompareUI/obj/*